h1 {
    text-align: center;
    font-size: 5em;
}

.headings {
    font-size: 2em;
}

.text {
    font-size: 20px;
}


#profile_pic {
    height: 300px;
    float: right;
    margin-right: 300px;
}

.social_icon {
    height: 50px;
}

#aboutme{
    text-align: center;
    margin-left: 300px;
    float: left;
    inline-size: 600px;
    padding-bottom: 90px;
    margin-top: 30px;
}

#experience {
    padding-bottom: 30px;
}

#projects {
    padding-bottom: 30px;
}

.heading_list {
    text-align: left;
}

.heading_name {
    font-size: 20px;
}

li {
    font-size: 17px;
}

body {
    color: #E3E1DE;
    background-color: #1D1F20;
}